html {
  background-color: whitesmoke;
}

.App {
  background-color: whitesmoke;
  margin: 0px auto;
}

.AppBody {
  margin-top: 10px;
}

.Login {
  margin: center;
  text-align: center;
}

.New {
  background-color: white;
  display: block;
  width: 600px;
  border-radius: 1em;
  border-width: 0px;
  padding: 1em;
  margin: 0px auto;
}

.newPost {
  width: 580px;
  border-radius: 1em;
  border-width: 0px;
  resize: none;
  outline: none;
}

.Header {
  background-color: #4267B2;
  padding: .5em;
  display: flex;
  justify-content: space-between;
}

.Header p {
  display: inline-block;
  color: white;
  padding: 5px;
}

.Header h1 {
  color: white;
}

.Post {
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  border-radius: 1em;
  padding: 1em;
  margin-top: 20px;
  align-items: left;
  text-align: left;

}


